# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/CPP/Debug
*.pyc
/Python/lang/build
/Python/lang/src/project_euler_landron.egg-info
now.py